<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}
{% include '_profile.html' %}

<table style="width:100%">
    <tr>
        {% for k in user.promotions %}
        <td> <img src="{{promos.url(k.image)}}" style="width:250px;height:250px" >
        {% if user.name == current_user.name %}
        <form method="post" action="{{url_for('delete_promo',id= k.id)}}">
            <button type="submit"> Delete </button>
        </form>
        {% endif %}
        </td>
        {% endfor %}
    </tr>
</table>

    <br />
    {% if user.name == current_user.name %}
    <form action="" method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <p>
            {{form.photo.label}}<br />
            {{form.photo(size=32)}}<br />
            {% for error in form.photo.errors %}
            <span style="color:red;"> [{{error}}] </span><br />
            {% endfor %}
        </p>
        <p>{{form.submit()}}</p>
    </form>

    {% endif %}
    {% endblock %}

