<!DOCTYPE html>

{% extends "base.html" %}
{% block content %}
<h1> Your Promotions </h1>
    {% for c in companies %}
<table style="width:100%">
    <tr valign="top">
        <th> <h1> {{c.name}} </h1> </th>
        <th>
            <h3>
                Company Descriptors:
                {% for t in c.tags %}
                {{  t.name  }} /
                {% endfor %}
            </h3>
        </th>
    </tr>
    <tr>
        {% for k in c.promotions %}
        <td> <img src="{{promos.url(k.image)}}" width="250" height="250" /></td>
        {% endfor %}
    </tr>
</table>
{% if prev_url %}
<a href="{{prev_url}}"> Previous </a>
{% endif %}
{% if next_url %}
<a href="{{next_url}}"> Next </a>
{% endif %}


    {% endfor %}
    {% endblock %}